<div class = "beauty_main">
	<div class >
	<%= image_tag "logo2.png", :width => 400 %></h1>

	</div>
</div>

<div class = "container">

<p>
	<%= link_to 'New Brand', new_brand_path, class: "btn btn-default" %>
</p>

<table class = "table table-hover">
	<tr>
		<th> ID </th>
		<th> Brand Name </th>
		<th> Crawler </th>
		<th> Time </th>
    <th> </th>
	</tr>

	<% @brands.each do |brand| %>
		<td><%= brand.id %></td>
		<td>
			<%= link_to brand.brand, brand_path(brand) %>
			<% if brand.created_at > Time.now - 3.days %>
				<span class="badge new">new</span>
			<% end %>
			<% if brand.created_at > Time.now - 3.days %>
				<span class="badge update">update</span>
			<% end %>
		</td>
		<td><%= brand.crawler %></td>
		<td><%= brand.created_at.strftime("%y.%m.%d, %H:%M") %></td>
		<td><%= button_to 'Destroy', brand_path(brand), method: :delete, data: { confirm: "Are you sure?"} %></td>
	</tr>
	<% end %>
</table>
</div>