<div class="beauty_main">
  <%= link_to brands_path do %>
    <%= image_tag "logo2.png", :width => 400 %>
  <% end %>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= @brand.brand %>
      </div>
    </div>

    <ul class="nav navbar-nav">
      <% category = Cosmetic.where(brand_id: @brand).select(:cate).distinct %>
      <% cate_cnt = category.count %>
        <% for i in 0..cate_cnt-1 do %>
          <li class="dropdown">
            <% cateName = category[i][:cate] %>
            <% sub_category = Cosmetic.where(brand_id: @brand, cate: cateName).select(:sub_cate).distinct %>
            <% sub_cnt = sub_category.count %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= cateName %><span class="badge"><%= sub_cnt %></span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% for j in 0..sub_cnt-1 do %>
                <% sub_Name = sub_category[j][:sub_cate] %>
                  <li><%= link_to sub_Name %><li>
                <% end %>
              </ul>
          </li>
        <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="input-group">
    <div class="custom-file">
    <%= form_tag import_brand_cosmetics_path(@brand), multipart: true do %>
      <%= file_field_tag :file, class: "custom-file-input" %>
      <%= submit_tag "CSV Import" %>
    <% end %>
    </div>
  </div>

  <p class="add-cosmetic"><%= link_to '개별 화장품 추가하기', new_brand_cosmetic_path(@brand) %></p>

  <h2>Cosmetics List</h2>

  <% @brand.cosmetics.each do |cosmetic| %>
    <%= link_to brand_cosmetic_path(@brand, cosmetic) do %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="notice">
          <% if cosmetic.created_at > Time.now - 3.days %>
            <span class="badge new">new</span>
          <% end %>
          <% if cosmetic.updated_at > Time.now - 3.days %>
            <span class="badge update">update</span>
          <% end %>
        </div>

        <%= image_tag cosmetic.pdImg %>
        <% end %>

        <div class="caption">
          <h4><%= truncate cosmetic.pdName, length: 40%></h4>
          <p><%= cosmetic.cate %> > <%= cosmetic.sub_cate%></p>
        </div>

        <div class="button">
          <p>
            <%= link_to 'Edit', edit_brand_cosmetic_path(@brand, cosmetic), class: "btn btn-primary"%>
            <%= link_to 'Destroy', [cosmetic.brand, cosmetic], class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>